body{
	background-image: url(../img/tytyn.jpg);
    background-size: cover;
}
.link{
    width: 45px; 
    height: 45px;
    line-height: 46px;
    padding: 15px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: white;
}
.main {
    position: relative;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #888;
}
.link2{
	width:300px;
	line-height: 32px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border:white 1px solid;
    text-transform: uppercase;
          padding: 30px;
    font-size: 35px;
    line-height: 32px;
  
}
.link2:hover{
    line-height: 32px;
    color: black;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s ease;
    background-color: white;
    transition: all 0.5s ease;
   padding: 32px;
    font-size: 35px;
    line-height: 32px;
text-decoration: none;
}
.h11{
    color:white;
    font-size:130px;
}
.h13{
    color:white;
    font-size:45px;
    font-family:'Snell Roundhand, cursive';
}