
.link{
    width: 45px; 
    height: 45px;
    line-height: 46px;
    padding: 15px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: white;
}
.main {
    position: relative;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #888;
}
.link2{
    color: white;
    font-weight: 600;
    border:white 1px solid;
    width:100px;
          padding: 17px;
    font-size:50px;
    border-spacing: 2;
  
}
.link2:hover{
    color: black;
    font-weight: 600;
    transition: all .5s ease;
    background-color: white;
    padding: 17px;
    font-size:50px;
        border-spacing: 2;
         text-decoration: none;
}
#wrapper, h4{
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 90px;
    text-align:center;
    font-weight: 600px;
    font-size:60px;
}
.panels-shop{
    margin-top: 25px;
    color:white;
    border:1px solid white;
    width:250px;
    height:250px;
}
.image2{
  width:249px;
  height:399px;
  margin-top:30px
}
.shop-loop{
        text-align: center;
}
.view{
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 15px 15px;
    width: auto;
    height: auto;
}
.font{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 2px rgba(255,255,255, 0.15);
}
.shop-new {
    padding: 0 10px;
    position: absolute;
    margin-left: 215.5px;
    background: grey;
    line-height: 46px;
    text-align: center;
    color:white;
    z-index: 30;
    font-weight: 700;
    font-size: 15px;
}
.shop-rub {
    padding: 0 20px;
    height: 46px;
    position: absolute;
    background: grey;
    line-height: 46px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: white;
    z-index: 30;
}
.panels2-shop{
    margin-top: 25px;
    color:white;
    text-align: center;
    width:430px;
    height:430px;
    margin: 20px auto;
    border:white 1px solid;
}
.image{
      width:248px;
  height:208.31px;
  margin-top:30px
}
.link-main{
  border:1px white solid;
     margin-top:10px;
}
.link{
    width: 59px; 
    height: 59px;
    line-height: 46px;
    padding: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top:10px;
}
.link:hover{
    width: 59px; 
    height: 59px;
    line-height: 46px;
    padding: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .5s ease;
    background-color: grey;
    text-decoration: none;
      margin-top:10px;
}
.font-iqos{
    color:white;
    text-decoration: none;
}
.fonts{
    font-size:23px;
}
.header{
    width:100%;
    height: 275%;
}
.image-list{
    width:244px;
    height: 244px;
}
