.block--category28 .node-body{
	width: 31%!important;
	float: left;
	margin:7px 1%;
	    border: 1px solid #e7e7e7;
    border-bottom-width: 2px;
    border-radius: 4px;
    height: 69px;
    display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;		
} 
.block--category28 .node-body:hover{
	background: #fff;
	position: relative;
}
.block--category28 .node--depth2:nth-child(even) .node-body:hover {
    background: #fff;
    position: relative;
    border-radius: 4px;
}

.block--category28 .node-extra{
	display: none;
}
.block--category28 .node-main .node-description {
	display: none;
}
.block--category28 .block-body{
	background: #fff;
  content: "";
  display: table;
  clear: both;
  width: 100%;	

}
.block--category28 .node-stats>dl.pairs.pairs--rows{
		width: 	auto;
		border-right: 0;

}
.block--category28 .pairs.pairs--rows>dt {
font-size: 13px;
}

.block--category28 .pairs.pairs--rows>dd{
		display: inline-block;
		margin-left: 5px;	
}

.block--category28 .pairs.pairs--rows>dt{
		display: inline-block;
		float: left;
}

.block--category28 .node-stats{
position: absolute;	
    margin-top: 26px;
    margin-left: 58px;
    *margin-left: -58px;
    _margin-left: -58px;
    margin-left: 58px\9;
}
.block--category28 .block-container .uix_block-body--outer .block-body .node-body .xfa-nit-node-icon {
	padding:16px 0 16px 16px;
}
@media screen\0 {
    .block--category28 .node-stats {margin-left: -221px;}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .block--category28 .node-stats {margin-left: -221px;}
}
@media(max-width: 1200px){
	.block--category28 .node-body{
		width: 48%!important;	
	}
}

@media(max-width: 650px){
	.block--category28 .node-title a{
		font-size: 11px;	
	}
}

@media(max-width: 515px){
	.block--category28 .node-body{
		width: 98%!important;	
	}
	.block--category28 .node-title a{
		font-size: 13px;	
	}
}